target/
**/target/
*.class

node_modules/
frontend/node_modules/
dist/

.env
.env.*
*.env
!.env.example

.idea/
.vscode/
*.log

.DS_Store
Thumbs.db

# For Python
.venv/
__pycache__/
.env
.pytest_cache/